/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Resets */
*, *::before, *::after{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
img{
	object-fit: cover;
}

/* Varible */
:root{
	--Heading: #010101;
	--Primary: #69c6ba;
	--Secondary: #c66995;
}

/* General Styles */
body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	font-size: 16px;
	background-color: #e6e6e6;
}

/* 	Container */
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 32px;
	width: 100%;
}

/* width */
.width-25{
	width: 25%;
}
.width-33{
	width: 33%;
}
.width-45{
	width: 45%;
}
.width-50{
	width: 50%;
}
.width-100{
	width: 100%;
}
.margin-RL{
	margin: 0 4px;
}

/* Flex */
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-20{
	flex: 0 1 20%;
}
.flex-25{
	flex: 0 1 25%;
}
.flex-50{
	flex: 0 1 50%;
}
.flex-60{
	flex: 0 1 60%;
}
.flex-100{
	flex: 0 1 100%;
}
.align-start{
	align-items: flex-start;
}
.flex-wrap{
	flex-wrap: wrap;
}
.justify-start{
	justify-content: start;
}
.justify-center{
	justify-content: center;
}

/* Flexible Image */
.flexible-image{
	width: 100%;
	height: auto;
}

/* Buttons */
.btn{
	font-size: 12px;
	padding: 10px 24px;
	text-align: center;
	border: 0;
}
.btn1{
	background-color: var(--Primary);
}
.btn1 a{
	color: white;
}
.btn2{
	color: white;
}
.btn2 a{
	color: var(--Primary);
}

/* Header */
.header-logo-nav{
	background-color: white;
}
.logo-nav{
	padding: 20px 100px;
}
.logo img{
	width: 50px;
}
.logo a{
	font-size: 35px;
	font-weight: 700;
	color: var(--heading);
	margin-left: 15px;
}
.logo-nav li{
	margin-left: 30px;
}
.logo-nav li a{
	color: var(--heading);
	font-weight: 700;
}
.logo-nav .home-color{
	color: var(--Primary);
}
.header-img{
	padding: 20px;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
	 url(../media/banner.jpg) 50% 50% no-repeat;
	text-align: center;
	color: white;
}
.header-img h1{
	font-size: 40px;
	font-weight: 500;
	margin-top: 20px;
}
.header-img p{
	font-size: 20px;
	font-weight: 300;
}
.down{
	background-color: var(--Primary);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 10px auto;
}
i{
	color: white;
	font-size: 30px;
	font-weight: 300;
}
.header-form{
	background-color: white;
	padding: 20px;
	margin: 90px 15% 50px 15%;
}
.header-form label{
	display: block;
	text-align: left;
	margin-bottom: 12px;
	color: var(--Heading);
	font-weight: 600;
	font-size: 12px;
}
.header-form input{
	width: 100%;
	border: 0;
	outline: 0;
	padding-left: 10px;
	margin-bottom: 20px;
	font-size: 12px;
}
.header-form button{
	width: 100%;
	background-color: var(--Primary);
}
.header-form button a{
	color: white;
	font-size: 12px;
}
.rooms-adult-children{
	margin-bottom: 20px;
}
.priority{
	text-align: center;
	padding: 40px 200px;
	background-color: #efefef;
}
.priority h1{
	font-size: 30px;
	color: var(--Heading);
	font-weight: 500;
}
.priority strong{
	font-weight: 700;
}
.priority p{
	font-size: 11px;
	padding: 20px 0;
}

/* main */
/* article-europe */
.places{
	font-size: 0;
}
.europe {
	background-color: white;
}
.europe figure{
	position: relative;
}
.europe-B{
	position: absolute;
	left: 41%;
}
.europe-visit{
	padding: 35px;
	background-color: var(--Primary);
	color: white;
	/* display: block; */
	width: 520px;
}
.europe-visit h2{
	font-size: 22px;
}
.europe-visit p{
	font-size: 11px;
	margin: 10px 0;
}
.lr-arrow{
	height: 40px;
	width: 40px;
	background-color: #827b73;
}
.lr-arrow i{
	font-size: 15px;
}
/* asia */	
.asia figure{
	margin-left: 50%;
}
.asia .europe-B{
	left: 15%;
} 
.asia-visit{
	background-color: var(--Secondary)
}
.asia-visit a{
	color: var(--Secondary);
}

/* section-map */
.map{
	background-color: var(--Primary);
	font-size: 0;
}
.continent{
	text-align: center;
	color: white;
	padding: 15px 25px;
}
.continent h3{
	font-size: 12px;
}
.continent-asia{
	background-color: var(--Secondary);
}

/* section-countries */
.countries{
	background-color: white;
	padding: 50px 180px;
	font-size: 0;
}
.asia-hotel {
	margin-bottom: 10px;
	border: 1px solid #dfdede;
}
.asia-hotel-curve img{
	background-color: var(--Primary);
}
.asia-hotel-resort{
	padding: 20px;
}
.asia-hotel-resort h2{
	color: var(--Heading);
	font-size: 18px;
	font-weight: 600;
}
.asia-hotel-resort span{
	color: var(--Secondary);
	font-size: 10px;
	padding: 0px 0 8px 0;
	display: block;
}
.asia-hotel-resort p{
	font-size: 9.5px;
	color: #c5bebe;
}
.cost{
	background-color: var(--Primary);
	color: white;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 25px;
}
.cost h3{
	padding-bottom: 10px;
}
.cost a{
	color: white;
	font-size: 11px;
}
.countries button{
	margin: 20px auto;
	display: block;
}
/* section Maps */
.map-form-position{
	position: relative;
}
.map-form{
	background-color: white;
	padding: 20px;
	position: absolute;
	top: 100px;
	right: 100px;
}
.form-control{
	width: 100%;
	background-color: #e7e3e3;
	padding: 6px;
	margin-bottom: 8px;
	border: 0;
}
.name{
	margin-right: 10px;
}

/* footer */
.footer{
	background-color: var(--Primary);
	text-align: center;
	padding: 30px;
	color: white;
	font-size: 12px;
}